body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
     background-color:  #E2EAF4;
  }
  .header {
    background-color: #f4f4f4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  .header a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .header a:hover {
    color: #007BFF;
  }
  .header i {
    font-size: 24px;
  }

  .type{
    display: flex;
    flex-direction: row;
  }
  .block-left{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
  button{
    height: 300px;
    width: 50px;
  }

  .block-right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: #333;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
  }
  .iteams{
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 40px;
    background-color: #E8E8E8;
  }
  img{
    height: 200px;
    width: 200px;
  }
  .btn{
    display: flex;
    flex-direction: column;
    

  }
  button{
    height: 30px;
    width: 500px;
    background-color: #98F5F9;
  }